{% extends "base.html.twig" %}

    {% block body %}

        <div class="container">
            <h2>Subjects</h2>      
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Teachers</th>
                        <th>Classrooms</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>    
                    {% for subject in subjects %}
                        <td><a href="{{ path('admin_editsubject', { 'id': subject.id }) }} "type="button" class="btn btn-info">Edit</a></td>
                        <td>{{subject.title}}</td>
                        <td>{% for teacher in subject.teacher %}
                                {{teacher.name}}
                                {% endfor %}</td>
                        <td>{% for classroom in subject.classroom %}
                                {{classroom.description}}
                                {% endfor %}</td>

                        <td><a href="{{ path('admin_deletesubject', { 'id': subject.id }) }}" type="button" class="btn btn-danger">Delete</a></td>
                    </tr>
                    {% endfor %} 
                    </tbody>
                </table>
              <a href="{{ path('admin_createsubject') }}" type="button" class="btn btn-default">Add new subject</a>
            </div>
            {% endblock %}


