{% extends 'base.html.twig' %}

    {% block body %}


            {% for message in app.flashes('notice') %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        <div class="container">
            <h2>Classrooms</h2>      
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Mark</th>
                        <th>Description</th>
                        <th>Level</th>
                        <th>School year end</th>
                        <th>Teachers</th>
                        <th>Subjects</th>
                        <th>Students</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>    
                    {% for classroom in classrooms %}
                        <td><a href="{{ path('admin_editclassroom', { 'id': classroom.id }) }} "type="button" class="btn btn-info">Edit</a></td>
                        <td>{{classroom.mark}}</td>
                        <td>{{classroom.description}}</td>
                        <td>{{classroom.level}}</td>
                        <td>{{classroom.schoolyearend}}</td>
                        <td>{% for teacher in classroom.teacher %}
                            {{[teacher.name, teacher.surname]| join(' ')}} 
                        {% endfor %}</td>
                        <td>{% for subject in classroom.subject %}
                            {{ subject.title }} 
                        {% endfor %}</td>
                        <td>{% for student in classroom.student %}
                            {{ [student.name, student.surname]| join(' ') }} 
                        {% endfor %}</td>
                        <td><a href="{{ path('admin_deleteclassroom', { 'id': classroom.id }) }}" type="button" class="btn btn-danger">Delete</a></td>
                    </tr>
                    {% endfor %} 
                    </tbody>
                </table>
              <a href="{{ path('admin_createclassroom') }}" type="button" class="btn btn-default">Add new classroom</a>
            </div>
            {% endblock %}


