{% extends 'base.html.twig' %}


    {% block body %}

        <div class="container">
            <h2>Teachers</h2>      
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>First Name</th>
                        <th>Surname</th>
                        <th>Social Security Number</th>
                        <th>Email</th>
                        <th>Adress</th>
                        <th>Phone number</th>
                        <th>Subjects</th>
                        <th>Classes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for teacher in teachers %}
                            <td><a href="{{ path('admin_editteacher', { 'id': teacher.id }) }} "type="button" class="btn btn-info">Edit</a></td>
                            <td>{{teacher.name}}</td>
                            <td>{{teacher.surname}}</td>
                            <td>{{teacher.pesel}}</td>
                            <td>{{teacher.email}}</td>
                            <td>{{teacher.address}}</td>
                            <td>{{teacher.phone}}</td>
                            <td>{% for subject in teacher.subject %}
                                {{subject.title}}
                                {% endfor %}</td>
                            <td>{% for classroom in teacher.classroom %}
                                {{classroom.description}}
                                {% endfor %}</td>
                            <td><a href="{{ path('admin_deleteteacher', { 'id': teacher.id }) }}" type="button" class="btn btn-danger">Delete</a></td>
                        </tr>
                        {% endfor %} 
                        </tbody>
                    </table>
                    <a href="{{ path('admin_createteacher') }}" type="button" class="btn btn-default">Add new teacher</a>
                </div>
                {% endblock %}


