{% extends 'base.html.twig' %}
{% block stylesheets %}   {% endblock %}


{% block body %}


    <table>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Pesel</th>
            <th>Email</th>
            <th>Adres</th>
            <th>Telefon</th>
            <th>Prowadzone przedmioty</th>
            <th>Klasy</th>
        </tr>
        {% for teacher in teachers %} 
            <tr>
                <td>{{teacher.name}}</td>
                <td>{{teacher.surname}}</td>
                <td>{{teacher.pesel}}</td>
                <td>{{teacher.email}}</td>
                <td>{{teacher.address}}</td>
                <td>{{teacher.phone}}</td>
                {% for subject in teacher.subject %}
                <td>{{subject.title}} </td>
                {% endfor %}
                {% for classroom in teacher.classroom %}
                <td>{{classroom.description}}</td>
                {% endfor %}
            </tr>
        {% endfor %}        
    </table>


{% endblock %}


